# Ch3

### 3-01

In [1]:
a <- 7
b <- 9
c <- a*b
print(c)

[1] 63

### 3-02

In [2]:
a <- 90
b <- 60
c <- 80
d <- 360 - (a+b+c)
print(d)

[1] 130

### 3-03

In [3]:
a <- 4
b <- 3
s <- 1/2 * a* b
print(s)

[1] 6

### 3-04

In [5]:
dist <- 60
v1 <- 20
v2 <- 30

avg = dist/v1 + dist/v2
print(avg)

[1] 5

### 3-05

In [6]:
sugar <- 25
water <- 125
percent <- sugar / (sugar + water) * 100
print(percent)

[1] 16.66667

### 3-06

- c로 묶어주어야 한다.

In [9]:
v <- c(92, 43, 55, 28, 19)

### 3-07

In [10]:
v1 <- c('cyan', 'magenta', 'yellow', 'black')
v2 <- c(TRUE, FALSE, TRUE)
v3 <- c(37.5, 8.2, 9.6, 11.8, 24.9)

### 3-08

- 문자형에서 숫자형으로 변경

In [13]:
v <- c(1,2,3,4)
sum(v)

[1] 10

### 3-09

In [16]:
v1 <- c('T', 'T', 'T', 'F', 'T', 'F', 'F', 'T', 'T', 'F')
v2 <- c(T, T, T, F, T, F, F, T, T, F)

In [17]:
sum(v1)

ERROR: Error in sum(v1): 인자의 'type' (character)이 올바르지 않습니다

In [18]:
sum(v2)

[1] 6

### 3-10

In [22]:
sum(1:5000)

[1] 12502500

### 3-11

In [24]:
even <- seq(1, 100, 2)
even

 [1]  1  3  5  7  9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49
[26] 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [25]:
sum(even)

[1] 2500

### 3-12

In [31]:
d <- 1:100
d

  [1]   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
 [19]  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
 [37]  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
 [55]  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
 [73]  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
 [91]  91  92  93  94  95  96  97  98  99 100

In [32]:
odd <- d[seq(1, 100, 2)]
odd

 [1]  1  3  5  7  9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49
[26] 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [37]:
odd[-((length(odd) - 9): length(odd))]

 [1]  1  3  5  7  9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49
[26] 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79

In [39]:
pick <- odd[c(3,7,32)]
pick

[1]  5 13 63

In [40]:
names(pick) = c('3rd', '7th', '32th')
pick

 3rd  7th 32th
   5   13   63

In [51]:
pick[-which(pick == pick['7th'])]

 3rd 32th
   5   63

In [52]:
pick['3rd'] = 3
pick

 3rd  7th 32th
   3   13   63

# Ch4

### 4-01

- 리스트, 벡터, 팩터

### 4-02

- a만 숫자형이다.

- 숫자형을 문자형과 묶으면 문자형이 된다.

In [57]:
a <- c(1,2)
b <- '3'
c <- c(a,b)
d <- '4'

In [58]:
a

[1] 1 2

In [59]:
b

[1] "3"

In [60]:
c

[1] "1" "2" "3"

In [63]:
d

[1] "4"

### 4-03

In [65]:
v1 <- c(6,1,3,7,9)
v2 <- c(9,1,0,3,7)

In [66]:
v1 + v2

[1] 15  2  3 10 16

In [67]:
v1 * 2

[1] 12  2  6 14 18

In [68]:
3 * v1 - v2

[1]  9  2  9 18 20

In [69]:
v2 + c(1,2,-1,3,-5)

[1] 10  3 -1  6  2

### 4-04

In [82]:
a <- 25:150
condi <- a[(a%%3 == 0)&(a<100)]
print(condi)

 [1] 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

### 4-05

In [83]:
a <- c('good', 'great', 'bad', 'okay', 'good', 'bad', 'good')
f <- factor(a)
levels(f)

[1] "bad"   "good"  "great" "okay"

### 4-06

In [85]:
shoes <- 76000
pants <- 52000
shirt <- 36000

print(shoes*(1-0.05) + pants*(1-0.10) + shirt*(1-0.05))

[1] 153200

### 4-07

In [88]:
smartphone <-  list(model = 'iphone_se',
                    capacity = c(64, 128, 256),
                    display = 'Retina',
                    color = c('black', 'red', 'white'))

print(smartphone$color)

[1] "black" "red"   "white"

### 4-08

In [99]:
weight <- c(56, 23, 89, 46, 76, 14, 97, 72, 68, 62, 35)
names(weight) <- c('a', 'b', 'c', 'd', 'e', 'f', 'g' ,'h' ,'i', 'j', 'k')

names(weight)[which(weight == min(weight[weight >= sum(weight) - 600]))]

[1] "d"

### 4-09

In [102]:
favorite <- factor(c('여름', '봄', '여름', '겨울', '봄', '겨울', '여름', '여름', '봄', '가을'))
levels(favorite)

[1] "가을" "겨울" "봄"   "여름"

### 4-10

In [103]:
country <- factor(c('호주', '독일', '영국', '일본', '미국', '중국', '호주', '영국', '중국', '일본',
                    '터키', '미국', '중국', '중국', '호주', '터키', '독일', '일본', '중국', '독일'))
levels(country)

[1] "독일" "미국" "영국" "일본" "중국" "터키" "호주"

In [104]:
as.integer(country)

 [1] 7 1 3 4 2 5 7 3 5 4 6 2 5 5 7 6 1 4 5 1

### 4-11

In [107]:
post <- list(user_id = 'mr_steve',
             post_id = 'p11010',
             view = 37,
             image = FALSE,
             like = c('creeper', 'alex', 'skeleton', 'enderman'))

post

$user_id
[1] "mr_steve"

$post_id
[1] "p11010"

$view
[1] 37

$image
[1] FALSE

$like
[1] "creeper"  "alex"     "skeleton" "enderman"

### 4-12

In [115]:
account <- list(name = '하늘',
                number = 123-468-120566,
                balance = 4128750,
                history = c(-50000, +20000, -32500, -79000, +42000))

paste0('입금 : ', sum(account$history > 0))
paste0('출금 : ', sum(account$history < 0))

[1] "입금 : 2"

[1] "출금 : 3"

# Ch5

### 5-01

- 리스트, 데이터프레임

### 5-02

- A : 관측값, B : 변수

### 5-03

In [117]:
x <- c(2,4,6,8)
y <- c(10,12,14,16)
z <- c(18,20,22,24)
m <- cbind(x,y,z)
m

     x y  z
[1,] 2 10 18
[2,] 4 12 20
[3,] 6 14 22
[4,] 8 16 24

In [119]:
matrix(c(2,10,18,
         4,12,20,
         6,14,22,
         8,16,24),
       nrow = 4, byrow = TRUE)

     [,1] [,2] [,3]
[1,] 2    10   18
[2,] 4    12   20
[3,] 6    14   22
[4,] 8    16   24

In [122]:
matrix(c(2,4,6,8,
         10,12,14,16,
         18,20,22,24),
       ncol = 3, byrow = FALSE)

     [,1] [,2] [,3]
[1,] 2    10   18
[2,] 4    12   20
[3,] 6    14   22
[4,] 8    16   24

### 5-04

In [127]:
m <- matrix(c(9,7,5,3,8,11,2,9),
            nrow = 2, byrow = TRUE)

print(m)

     [,1] [,2] [,3] [,4]
[1,]    9    7    5    3
[2,]    8   11    2    9

In [128]:
rownames(m) = c('x', 'y')
colnames(m) = c('a', 'b', 'c', 'd')
print(m)

  a  b c d
x 9  7 5 3
y 8 11 2 9

### 5-05

In [130]:
t(m)

  x y
a 9  8
b 7 11
c 5  2
d 3  9

In [131]:
df <- data.frame(m)
df

  a b  c d
x 9  7 5 3
y 8 11 2 9

In [135]:
info <- c('wow', 'go')
df.new <- data.frame(df, info)
df.new

  a b  c d info
x 9  7 5 3 wow
y 8 11 2 9 go

In [136]:
class(df.new)

[1] "data.frame"

### 5-06

In [138]:
blood <- c('A', 'O', 'AB', 'B', 'B')
rh <- c('+', '+', '-', '+', '+')
age <- c(21, 30, 43, 17, 26)

df <- data.frame(blood, rh, age)
df

  blood rh age
1 A     +  21
2 O     +  30
3 AB    -  43
4 B     +  17
5 B     +  26

In [139]:
colnames(df)

[1] "blood" "rh"    "age"

In [152]:
df.nb <- df[df$blood != 'B', ]
df.nb

  blood rh age
1 A     +  21
2 O     +  30
3 AB    -  43

In [ ]:
subset(df, blood != 'B')

  blood rh age
1 A     +  21
2 O     +  30
3 AB    -  43

### 5-07

In [153]:
str(cars)

'data.frame':	50 obs. of  2 variables:
 $ speed: num  4 4 7 7 8 9 10 10 10 11 ...
 $ dist : num  2 10 4 22 16 10 18 26 34 17 ...

In [154]:
dim(cars)

[1] 50  2

In [157]:
colnames(cars)

[1] "speed" "dist"

In [158]:
class(cars)

[1] "data.frame"

In [159]:
class(colnames(cars))

[1] "character"

### 5-08

In [161]:
matrix(1:12, nrow = 3)

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

In [162]:
matrix(1:12, nrow = 3) %% 3

     [,1] [,2] [,3] [,4]
[1,] 1    1    1    1
[2,] 2    2    2    2
[3,] 0    0    0    0

In [163]:
matrix(1:12, nrow = 3) + 3

     [,1] [,2] [,3] [,4]
[1,] 4    7    10   13
[2,] 5    8    11   14
[3,] 6    9    12   15

In [164]:
matrix(1:12, nrow = 3) + matrix(1:12, nrow = 4)

ERROR: Error in matrix(1:12, nrow = 3) + matrix(1:12, nrow = 4): 배열의 크기가 올바르지 않습니다

In [165]:
matrix(1:12, nrow = 3) + matrix(1:12, nrow = 3)

     [,1] [,2] [,3] [,4]
[1,] 2     8   14   20
[2,] 4    10   16   22
[3,] 6    12   18   24

In [166]:
rbind(matrix(1:9, nrow = 3), c('1', '2', '3')) + 3

ERROR: Error in rbind(matrix(1:9, nrow = 3), c("1", "2", "3")) + 3: 이항연산자에 수치가 아닌 인수입니다

### 5-09

In [186]:
num <- 1:7
titles <- c('그대랑', '다툼', '빨래', '두통', '보조개', '매듭', '이상해')
likes <- c(16075, 8218, 12119, 738, 3200, 16144, 5110)

love <- data.frame(num, titles, likes)
colnames(love) <- c('번호', '제목', '좋아요')
love

  번호 제목   좋아요
1 1    그대랑 16075
2 2    다툼    8218
3 3    빨래   12119
4 4    두통     738
5 5    보조개  3200
6 6    매듭   16144
7 7    이상해  5110

In [184]:
love <- data.frame(번호=1:7,
                   제목=c('그대랑', '다툼', '빨래', '두통', '보조개', '매듭', '이상해'),
                   좋아요=c(16075, 8218, 12119, 738, 3200, 16144, 5110))
love

  번호 제목   좋아요
1 1    그대랑 16075
2 2    다툼    8218
3 3    빨래   12119
4 4    두통     738
5 5    보조개  3200
6 6    매듭   16144
7 7    이상해  5110

In [193]:
love$좋아요 == max(love$좋아요)

[1] FALSE FALSE FALSE FALSE FALSE  TRUE FALSE

In [201]:
best <- love[love$좋아요 == max(love$좋아요), '제목']
best

[1] "매듭"

In [198]:
love[love$좋아요 == max(love$좋아요), 제목]

ERROR: Error in `[.data.frame`(love, love$좋아요 == max(love$좋아요), 제목): 객체 '제목'를 찾을 수 없습니다

### 5-10

In [208]:
mid <- data.frame(이름 = c('스티브', '엔더맨', '크리퍼'),
                  국어 = c(97, 88, 100),
                  역사 = c(100, 82, 96),
                  수학 = c(83, 90, 76),
                  과학 = c(95, 91, 89),
                  영어 = c(92, 87, 95))

final <- data.frame(이름 = c('스티브', '엔더맨', '크리퍼'),
                  국어 = c(94, 92, 100),
                  역사 = c(95, 95, 100),
                  수학 = c(90, 87, 85),
                  과학 = c(92, 95, 84),
                  영어 = c(89, 94, 96))
mid
final
data.frame(이름 = c('스티브', '엔더맨', '크리퍼'),
           (mid[2:6] + final[2:6])/2)

  이름   국어 역사 수학 과학 영어
1 스티브  97  100  83   95   92
2 엔더맨  88   82  90   91   87
3 크리퍼 100   96  76   89   95

  이름   국어 역사 수학 과학 영어
1 스티브  94   95  90   92   89
2 엔더맨  92   95  87   95   94
3 크리퍼 100  100  85   84   96

  이름   국어  역사 수학 과학 영어
1 스티브  95.5 97.5 86.5 93.5 90.5
2 엔더맨  90.0 88.5 88.5 93.0 90.5
3 크리퍼 100.0 98.0 80.5 86.5 95.5

### 5-11

In [210]:
class(cars)

[1] "data.frame"

In [211]:
dim(cars)

[1] 50  2

In [212]:
head(cars)

  speed dist
1 4      2
2 4     10
3 7      4
4 7     22
5 8     16
6 9     10

In [213]:
str(cars)

'data.frame':	50 obs. of  2 variables:
 $ speed: num  4 4 7 7 8 9 10 10 10 11 ...
 $ dist : num  2 10 4 22 16 10 18 26 34 17 ...

In [217]:
colMeans(cars)

speed  dist
15.40 42.98

In [219]:
max(cars[, 'dist'])

[1] 120

In [220]:
cars[cars$dist == max(cars[, 'dist']), ]

   speed dist
49 24    120

In [221]:
cars[cars[2] == max(cars[, 2]), ]

   speed dist
49 24    120

### 5-12

In [222]:
class(InsectSprays)

[1] "data.frame"

In [223]:
str(InsectSprays)

'data.frame':	72 obs. of  2 variables:
 $ count: num  10 7 20 14 14 12 10 23 17 20 ...
 $ spray: Factor w/ 6 levels "A","B","C","D",..: 1 1 1 1 1 1 1 1 1 1 ...

In [225]:
tail(InsectSprays, 10)

   count spray
63 15    F
64 22    F
65 15    F
66 16    F
67 13    F
68 10    F
69 26    F
70 26    F
71 24    F
72 13    F

In [227]:
levels(InsectSprays$spray)

[1] "A" "B" "C" "D" "E" "F"

In [230]:
table(InsectSprays$count)

 0  1  2  3  4  5  6  7  9 10 11 12 13 14 15 16 17 19 20 21 22 23 24 26
 2  6  4  8  4  7  3  3  1  3  3  2  4  4  2  2  4  1  2  2  1  1  1  2

In [231]:
table(InsectSprays$spray)

 A  B  C  D  E  F
12 12 12 12 12 12

In [233]:
InsectSprays.e <- InsectSprays[InsectSprays$spray == 'E', ]
InsectSprays.e

   count spray
49 3     E
50 5     E
51 3     E
52 5     E
53 3     E
54 6     E
55 1     E
56 1     E
57 3     E
58 2     E
59 6     E
60 4     E

In [234]:
mean(InsectSprays.e$count)

[1] 3.5

# Ch6

### 6-01

In [237]:
install.packages('svDialogs')
library(svDialogs)

input.value <- dlgInput('Input a value')$res
input.value

Warning message:
"패키지 'svDialogs'가 사용중이므로 설치되지 않을 것입니다"

[1] ""

### 6-02

- \n

### 6-03

- A : 작업 폴더(Working Directory)

- B : getwd()

- C : setwd()

### 6-04

- csv(comma separated value)

### 6-05

- library(xlsx)

- ds <- read.xlsx('data.xlsx', header = T, sheetIndex = 1)

- write.xlsx(ds, 'data_new.xlsx', row.names = F)

### 6-06

- sink('result.txt', append = T)

- cat(height, weight, bmi)

- sink()

### 6-07

In [ ]:
base <- as.numeric(dlgInput('base')$res)
height <- as.numeric(dlgInput('height')$res)
print(1/2 * base * height)

### 6-08

In [ ]:
read.table('ds_tab.txt', header = FALSE)

### 6-09

In [242]:
ds <- read.table('ds.txt', header = FALSE)
ds

  V1  V2  V3
1 187 789 225.62840
2 176  67  21.62965
3 180  69  21.29630

In [252]:
write.csv(ds, 'ds.csv', row.names=F)

### 6-10