In [3]:
# name
# birth
# death

In [5]:
if (!require(rvest)) install.packages('rvest')
library(rvest)

if (!require(tidyverse)) install.packages('tidyverse')
library(tidyverse)

In [85]:
target_url <- 'https://en.wikipedia.org/wiki/List_of_emperors_of_the_Qing_dynasty'

In [86]:
html <- read_html(target_url)

In [87]:
((html %>%
    html_nodes('table[class=wikitable]') %>%
    html_nodes('tr'))[2] %>%
    html_nodes('td') %>%
    html_text())[2]

[1] "Nurhaci(21 February 1559<U+2013>30 September 1626)\n"

In [88]:
var = numeric(17)
for (i in 2:18){
    var[i-1] <- (((html %>%
        html_nodes('table[class=wikitable]') %>%
        html_nodes('tr'))[i] %>%
        html_nodes('td') %>%
        html_text())[2])
}

ERROR: Error in xml_nodeset(NextMethod()): Expecting an external pointer: [type=NULL]

In [89]:
unclean_data <- unlist(strsplit(var[1], split = '\\('))
unclean_data

[1] "Nurhaci"
[2] "21 February 1559<U+2013>30 September 1626)\n"

In [83]:
dynasty <- 'Ming'

In [90]:
name <- unclean_data[1]
name

[1] "Nurhaci"

In [95]:
years <- (gsub('\n|\\)', '', unclean_data[2]) %>%
    strsplit(split = ' ') %>%
    unlist())

In [96]:
years

[1] "21"        "February"  "1559<U+2013>30" "September" "1626"

In [100]:
birth <- substr(years[3], 1, 4)
birth

[1] "1559"

In [102]:
death <- years[5]
death

[1] "1626"

In [92]:
birth <- years[1]
death <- years[2]
birth
death

[1] "1559<U+2013>30"

[1] NA

In [84]:
c(dynasty, name, birth, death)

[1] "Ming"           "Hongwu Emperor" "1328"           "1398"