In [1]:
if (require(rvest)){
    print('rvest')
} else {
    install.packages('rvest')
    library('rvest')
}

target_url <- 'https://ko.wikipedia.org/wiki/%EC%A1%B0%EC%84%A0_%EA%B5%AD%EC%99%95'
html <- read_html(target_url)

필요한 패키지를 로딩중입니다: rvest

Warning message:
"패키지 'rvest'는 R 버전 4.1.3에서 작성되었습니다"

[1] "rvest"

In [31]:
tables <- html %>%
    html_nodes('table[class=wikitable]') %>%
    html_nodes('tr') %>%    
    html_text()
tables <- gsub('\n', '', tables) # \n을 삭제한다.
tables <- tables[grep('^제', tables)][1]

sep_tables <- tables %>% # 한글자씩 쪼갠다.
    strsplit(split = '') %>%
    unlist()

# 한자는 사용하지 않으므로 제거해야한다.
# 따라서 한글과 숫자가 아닌 문자는 모두 N으로 치환한다.
sep_tables[-grep('[ㄱ-ㅎ|가-힣|0-9|]', sep_tables)] = 'N'

In [32]:
order <-
    sep_tables[grep('제', sep_tables)[1] : grep('대', sep_tables)[1]] %>%
    paste(collapse = '')
order

[1] "제1대"

In [33]:
name <- 
    sep_tables[(grep('대', sep_tables)[1]+1): grep('조|종|군', sep_tables)[1]] %>%
    paste(collapse = '')
name

[1] "태조"

In [34]:
years <- c()
for (i in grep('년', sep_tables)){
    years <- c(years, paste0(sep_tables[(i-3):i-1], collapse = ''))
}
years

[1] "1335" "1408" "1392" "1398"

In [35]:
birth <- years[1]
death <- years[2]
king_start <- years[3]
king_end <- years[4]
birth
death
king_start
king_end

[1] "1335"

[1] "1408"

[1] "1392"

[1] "1398"

In [36]:
pasted <- unlist(strsplit(paste0(sep_tables, collapse = ''), split = 'N'))
grave <- pasted[grep('릉$', pasted)]
grave

[1] "건원릉"

In [37]:
grave

[1] "건원릉"