In [2]:
a = [1,2]
b = [3,4]

In [3]:
a.__add__(b)

[1, 2, 3, 4]

In [4]:
b.__add__(a)

[3, 4, 1, 2]

In [43]:
class Student:
    def __init__(self, age = 20, semester = 0):
        self.age = age
        self.semester = semester
        print('입학을 축하합니다. 당신의 나이는 {}이고 현재 {}학기 입니다.'.format(self.age, self.semester))
    
    def __add__(self, val):
        # val == 0: 휴학
        # val == 1: 등록
        if val == 0:
            self.age = self.age + 0.5
        elif val == 1:
            self.age = self.age + 0.5
            self.semester = self.semester + 1
            return self
    
    def _repr_html_(self):
        html_str = """
        나이: {} <br/>
        학기: {} <br/>
        """
        return html_str.format(self.age, self.semester)

In [47]:
iu = Student(23)

입학을 축하합니다. 당신의 나이는 23이고 현재 0학기 입니다.

In [45]:
iu + 1 + 0 + 0 + 0 + 0

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [31]:
iu.semester

1

In [56]:
iu + 1

In [34]:
iu + 1
iu

In [37]:
iu + 0
iu

In [38]:
iu

In [48]:
_a = iu + 1
_a

In [49]:
type(_a)

__main__.Student

In [58]:
import numpy as np

In [57]:
class RPC: 
    def __init__(self,candidate=['가위','바위','보']):
        self.candidate = candidate
        self.actions = list() 
    def choose(self):
        self.actions.append(np.random.choice(self.candidate))
    def show(self):
        print(self.actions[-1])
    def _repr_html_(self):
        html_str = """
        낼 수 있는 패: {} <br/> 
        기록: {}
        """
        return html_str.format(self.candidate,self.actions)

In [60]:
class RPC: 
    def __init__(self,candidate=['가위','바위','보']):
        self.candidate = candidate
        self.actions = list() 
        self.results = list()
    def __mul__(self,other):
        self.choose()
        other.choose()
        if self.actions[-1]=='가위' and other.actions[-1]=='가위':
            self.results.append(0)
            other.results.append(0)
        if self.actions[-1]=='가위' and other.actions[-1]=='바위':
            self.results.append(-1)
            other.results.append(1)
        if self.actions[-1]=='가위' and other.actions[-1]=='보':
            self.results.append(1)
            other.results.append(-1)
        if self.actions[-1]=='바위' and other.actions[-1]=='가위':
            self.results.append(1)
            other.results.append(-1)
        if self.actions[-1]=='바위' and other.actions[-1]=='바위':
            self.results.append(0)
            other.results.append(0)
        if self.actions[-1]=='바위' and other.actions[-1]=='보':
            self.results.append(-1)
            other.results.append(1)
        if self.actions[-1]=='보' and other.actions[-1]=='가위':
            self.results.append(-1)
            other.results.append(1)
        if self.actions[-1]=='보' and other.actions[-1]=='바위':
            self.results.append(1)
            other.results.append(-1)
        if self.actions[-1]=='보' and other.actions[-1]=='보':
            self.results.append(0)
            other.results.append(0)
    def choose(self):
        self.actions.append(np.random.choice(self.candidate))
    def _repr_html_(self):
        html_str = """
        낼 수 있는 패: {} <br/> 
        액션: {} <br/>
        승패: {}
        """
        return html_str.format(self.candidate,self.actions,self.results)

In [85]:
a = RPC(['가위', '보'])
b = RPC(['가위', '바위'])

In [86]:
for i in range(50000):
    a*b

In [88]:
sum(a.results)

-12139

In [89]:
sum(b.results)

12139

- b가 더 유리하다